// @import "../../static/css/font.wxss";
@import "../../wxParse/wxParse.wxss";
@import "../../components/pagination/pagination.wxss";
 
.info2{
    display:inline-block;
    line-height: 1;
    margin-bottom: 4px;
    font-size:14px;
    color:#666;
    opacity: 0.98;
        image{
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }

        text{
            padding:4px;
        }


    }
 .page-loading{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 3;

    .loading{
       position: absolute; 
       width: 64px;
       height: 64px;
       left: 50%;
       top:50%;
       margin-top: -32px;
       margin-left: -32px;
       z-index: 4;

    }
 }

/*列表*/ 
.comment-container{
            padding: 16rpx;
            

            .comment-total{
                 color: #555;
                 font-size: 16px;

                .strong{
                    
                    font-size: 17px;
                    margin-right:4px;
                    font-weight: 600;
                }
            }

            .comment-list{
                margin-top: 20px;

                .comment-item{
                    position: relative;

                    .avatar{
                        width: 2.5em;
                        height: 2.5em;
                        float:left;
                        
                        border: 1px solid #f5f5f5;
                        margin-right: .7525em;
                        padding: .125em;
                    }

                    .info{
                            overflow: hidden; /*bfc*/
                            padding-bottom: .5em;
                            border-bottom: 1px dashed #f5f5f5;
                      
                        .head{
                              line-height: 1.5;
                             font-size: .875em;
                                font-weight: 500;
                            color: #1da496;
                        }

                        .reply-time,.stars{
                            color: #b3b3b3;
                            font-size: .75em;
                           
                            position: relative;
                        
                            .reply{
                                float:right;
                                padding: 4px;
                                font-size: 1em;
                                color: #ef2f11;
                            }

                        }
                        .content{
                            word-wrap: break-word;
                            word-break: break-all;
                            text-align: justify;
                            color: #4a4a4a;
                            font-size: .875em;
                            line-height: 2;
                            position: relative;
                            margin-bottom: .75em;
                            padding-top: 10px;
                        }

                    }
                }
            }
}





/*评论*/
.comment-box{
     font-size: 16px;
   padding: 16rpx;
     .wrap{
            border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    padding: 10px;
     }

     .header{


            box-sizing: border-box;
            line-height: 2;
            color: #555;
              
             .vinput{
                    border: none;
            resize: none;
            outline: none;
            padding: 10px 5px;
            max-width: 100%;
            font-size: .775em;
            border-bottom: 1px dashed #dedede;
              }


        .stars{

            display: inline-block;
            vertical-align: top;

            .info-text{
                 line-height: 2;
                 color: red;
                font-size:12px;
                padding-left:5px;
                display: inline-block;

            }
                .item{
                    
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #ccc;
                    background: #fff;
                    text-align: center;
                    font-size:13px;
                    line-height: 20px;
                   color: #555;
                    margin-left: 4px;



                }

                .item.active{
                  color:#fff;
                  background: #000;
                  border-color:#000
                }
            
        }
       
     }




     .vedit {
            position: relative;
            padding-top: 10px;
               .veditor {
                width: 100%;
                display: block;
        
                padding-top: 12px;
                min-height: 8.75em;
                font-size: .875em;
                background: transparent;
                resize: vertical;
                transition: all .25s ease;
                line-height: 2
            }

        }

        .vctrl {
  
                font-size: 12px;
                text-align: right;

                    box-sizing: border-box;
                line-height: 2;
                color: #555;


                .vemoji-btn{
                    padding: 10px;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                }
            }


        .vemojis {
            display: -none;
            font-size: 18px;
            text-align: justify;
            max-height: 145px;
            overflow-y: auto;
            margin-bottom: 10px;
            -webkit-box-shadow: 0 0 1px #f0f0f0;
            box-shadow: 0 0 1px #f0f0f0;
             text{
                    font-style: normal;
            padding: 7px 0;
            width: 38px;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            }
        }
   

      .vcontrol{
        -webkit-transition-duration: .4s;
    transition-duration: .4s;
    text-align: center;
    color: #313131;
    border: 1px solid #ededed;
    border-radius: .3em;
    display: inline-block;
    background: #ededed;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: .5em 1.25em;
    font-size: .875em;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    float:right;
    margin-top: 4px;
      }

  

}






.article-box{

    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 10px ;

    .bg{
        width: 100%;
        padding:10px 0;
    }
    .article-container{
        flex: 1;

    }

    .title{
     font-size: 2em;
    color: #242f35;
    font-weight: 400;
    padding-bottom: 15px;
   
    }

    .text{
     font-size: 14px;
     color: #666;

     text{
        margin-right: 6px;
     }
    }

}


