//.wxs文件 共用 filter 效果哟
var formatDate = function(value){
    var chineseMonths = ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"];
    var time = getDate(parseInt(value));//有些特殊 不能使用 new Date() 用getDate .wxs 而且转字符串不能用Number 得用parseInt
    var month = time.getMonth();
    var today = time.getDate();
   
     chineseMonths.forEach(function(item,index,arr){
        if(month == index){
          month = item
        }
     })

   if (today < 10) {
        today = "0" + today;
   }
   return [today,month]
     
    //不能返回拼接的dom 
    // return '<text class="time top">1</text><text class="time">2</text>'
}


var formatCreatTime = function (value){
    var time = getDate(parseInt(value));//有些特殊 不能使用 new Date() 用getDate .wxs 而且转字符串不能用Number 得用parseInt
    var year = time.getFullYear();
    var month = time.getMonth() + 1;
    var today = time.getDate();
    var hour = time.getHours();
    var minute = time.getMinutes();
    var second = time.getSeconds();
    if (month < 10) {
        month = "0" + month;
    }
    if (today < 10) {
        today = "0" + today;
    }

    if (hour < 10) {
        hour = "0" + hour;
    }

    if (minute < 10) {
        minute = "0" + minute;
    }
    if (second < 10) {
        second = "0" + second;
    }

    return year + "-" + month + "-" + today + " " + hour + ":" + minute + ":" + second;
}


var copyrightTime = function (value){
    var time = getDate(parseInt(value));
    var year = time.getFullYear();
    return year 
}

var formatTag = function(type) {
    switch (type)
    {
        case 1: return "web前端";
        case 2: return "服务端";
        case 3: return "构建工具";
        case 4: return "数据库";
        case 5: return "后端开发";
        case 6: return "系统架构";
        default:return ''
    } 
}

function getRandomSafeColor() {
    var base = ['00','33','66','99','CC','FF'];     //基础色代码
    var len = base.length;                          //基础色长度
    var bg = [];                           //返回的结果
    var random = Math.ceil(Math.random()*215+1);    //获取1-216之间的随机数
    var res;
    for(var r = 0; r < len; r++){  
        for(var g = 0; g < len; g++){  
            for(var b = 0; b < len; b++){   
                bg.push(base[r].toString()+base[g].toString()+base[b].toString());
            }  
        };  
    };
    for(var i=0;i<bg.length;i++){
        res =  bg[random];
    }
    return res;
}
var getFaceImg = function (str){
  return 'http://iph.href.lu/40x40?text='+str.substring(0,1).toUpperCase()+'&fg=fff&bg='+getRandomSafeColor()
}

//module对象暴露

module.exports = {
  formatDate: formatDate,
  formatTag: formatTag,
  formatCreatTime:formatCreatTime,
  copyrightTime:copyrightTime,
  getFaceImg:getFaceImg
};
